{
    "key": "{{ generated_hash }}",
    "atomic_position_unit": "cartesian",
    "unit_of_length": "angstrom",
    "energy": [
        {{ energy_in_eV }},
        "eV"
    ],
    "atoms": [
        [
            {{ index }},
            "{{ atom }}",
            [
                1.645507368909759,
                2.613857591561221,
                4.512566718293012
            ],
            [
                -0.02386814333598496,
                -0.01598341707586312,
                0.003312844348357313
            ]
        ],
    ]
}